:root {
  --background-color: rgb(32, 32, 32);
  --text-color: rgb(230, 230, 230);
  --button-border-color: black;
  --button-hover-background: pink;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-top: 5%;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
}

.game-board {
  margin-top: 5%;
}

.status {
  margin: 5% 0;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
}
.board-row {
  display: flex;
  gap: 5px;
}

.board-row button {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  font-size: 5rem;
  border: 4px solid rgb(230, 230, 230);
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.board-row button:hover {
  cursor: pointer;
  background-color: rgb(74, 74, 74);
}


h2 {
  font-size: 1.2em;
  text-align: center;
}

.game-info {
  margin-top: 5%;
}

ol {
  margin-top: 5%;
}

ol button {
  margin-top: 2%;
  width: 100%;
  height: 30px;
  text-align: center;
  border: 2px solid rgb(230, 230, 230);
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--background-color);
}

ol button:hover {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 2px solid var(--background-color);
  font-size: 1em;
  color: var(--background-color);
  background-color: var(--text-color);
  height: 30px;
}